    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    body {
        background-color: white;
        color: black;
    }
    
    header {
        text-align: center;
        background-color: grey;
        position: fixed;
        width: 100%;
        font-weight: bold;
        padding: 20px;
        top: 0;
        border-radius: 0 0 10px 10px;
    }
    
    .title {
        color: black;
        font-size: 15pt;
    }
    
    .input-search {
        width: 20%;
        border: none;
        border-radius: 10px 10px 10px 10px;
        padding: 2px;
    }
    
    .input-submit {
        padding: 2px;
        border-radius: 10px 10px 10px 10px;
    }
    
    nav {
        margin: 15px;
    }
    
    nav ul {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    
    nav ul p a {
        color: black
    }
    
    nav ul p a:hover {
        border-bottom: 2px solid white;
    }
    
    .content {
        max-height: 30%;
        width: 50%;
    }